---
whiskers:
  version: 2.5.1
  matrix:
    - flavor
  filename: "themes/{{ flavor.identifier }}.toml"
---

{%- set palette = flavor.colors -%}

[palettes.catppuccin_{{ flavor.identifier }}]
{%- for _, color in palette %}
{{ color.identifier }} = "#{{ color.hex }}"
{%- endfor %}
